<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/chat.css">
    <title>메인 챗화면 테스트</title>
</head>
<body>
    <div id="out_box">
        <!-- 헤드(네비비) -->
        <div id="nav_box">
            <h1><a href="/">Glasses For You</a></h1>
            <div>
                <li><a href="/info">소개</a></li>
                <li><a href="/chat">안경추천</a></li>
                <li><a href="/context">context us</a></li>
            </div>
        </div>

        <!-- 메인 -->
        <div id="main_box">
            <!-- 카메라존 -->
            <div id="camera_zone">
                <!-- 화상 -->
                <div id="camera_view">
                    <div>

                    </div>
                </div>

                <!-- 하단 -->
                <div id="camera_under">
                    <!-- 안경 스크롤 -->
                    <div id="glass_lists">
                        <div class="glass_boxs">
                            <div class="glass_img">
                                <img src="../static/img/5.png" />
                            </div>
                            <div class="glass_colors">
                                <li class="colorpalette" style="background-color: red;"></li>
                                <li class="colorpalette" style="background-color: rgb(223, 220, 78);"></li>
                            </div>
                        </div>
                        <div class="glass_boxs">
                            <div class="glass_img">
                                <img src="../static/img/6.png" />
                            </div>
                            <div class="glass_colors">
                                <li class="colorpalette" style="background-color: rgb(139, 90, 172);"></li>
                                <li class="colorpalette" style="background-color: rgb(110, 111, 117);"></li>
                                <li class="colorpalette" style="background-color: rgb(0, 0, 0);"></li>
                            </div>
                        </div>
                        <div class="glass_boxs">
                            <div class="glass_img">
                                <img src="../static/img/7.png" />
                            </div>
                            <div class="glass_colors">
                                <li style="background-color: rgb(135, 177, 194);"><div class="colorpalette" ></li>
                                <li class="colorpalette" style="background-color: rgb(63, 25, 25);"></li>
                            </div>
                        </div>
                        <div class="glass_boxs">
                            <div class="glass_img">
                                <img src="../static/img/5.png" />
                            </div>
                            <div class="glass_colors">
                                <li class="colorpalette" style="background-color: rgb(34, 33, 33);"></li>
                                <li class="colorpalette" style="background-color: rgb(209, 200, 200);"></li>
                            </div>
                        </div>
                        <div class="glass_boxs">
                            <div class="glass_img">
                                <img src="../static/img/6.png" />
                            </div>
                            <div class="glass_colors">
                                <li class="colorpalette" style="background-color: rgb(97, 85, 85);"></li>
                                <li class="colorpalette" style="background-color: rgb(32, 15, 59);"></li>
                                <li class="colorpalette" style="background-color: rgb(160, 160, 160);"></li>
                            </div>
                        </div>
                        <div class="glass_boxs">
                            <div class="glass_img">
                                <img src="../static/img/7.png" />
                            </div>
                            <div class="glass_colors">
                                <li class="colorpalette" style="background-color: rgb(228, 67, 67);"></li>
                                <li class="colorpalette" style="background-color: rgb(74, 126, 59);"></li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 대화존-->
            <div id="chat_zone">
                <!-- 말풍선 -->
                <div id="chat_talks">
                    <div class="ai_talk">
                        <div>
                            <p>어쩌구저쩌구구어쩌구저쩌구구어쩌구저쩌구구어쩌구저쩌구구어쩌구저쩌구구어쩌구저쩌구구어쩌구저쩌구구어쩌구저쩌구구</p>
                        </div>
                    </div>
                    <div class="hm_talk">
                        <div>
                            <p>질문이요 질문이요질문이요질문이요 질문이요질문이요질문이요 질문이요질문이요질문이요 질문이요질문이요질문이요 질문이요질문이요질문이요 질문이요질문이요질문이요 질문이요질문이요질문이요 질문이요질문이요질문이요 질문이요질문이요질문이요 질문이요질문이요질문이요 질문이요질문이요질문이요 질문이요질문이요질문이요 질문이요질문이요질문이요 질문이요질문이요질문이요</p>
                        </div>
                    </div>
                    <div class="ai_talk">
                        <div>
                            <p>답변이요 어쩌구 저쩌구구 답변이요 어쩌구 저쩌구구 답변이요 어쩌구 저쩌구구 답변이요 어쩌구 저쩌구구 답변이요 어쩌구 저쩌구구 답변이요 어쩌구 저쩌구구 답변이요 어쩌구 저쩌구구답변이요 어쩌구 저쩌구구</p>
                        </div>
                    </div>
                    <div class="hm_talk">
                        <div>
                            <p>엄청나게 긴 장문의 문장 채우기 엄청나게 긴 장문의 문장 채우기 엄청나게 긴 장문의 문장 채우기 엄청나게 긴 장문의 문장 채우기 엄청나게 긴 장문의 문장 채우기 엄청나게 긴 장문의 문장 채우기 엄청나게 긴 장문의 문장 채우기 엄청나게 긴 장문의 문장 채우기 엄청나게 긴 장문의 문장 채우기 엄청나게 긴 장문의 문장 채우기 엄청나게 긴 장문의 문장 채우기 엄청나게 긴 장문의 문장 채우기 엄청나게 긴 장문의 문장 채우기 엄청나게 긴 장문의 문장 채우기 엄청나게 긴 장문의 문장 채우기 엄청나게 긴 장문의 문장 채우기 엄청나게 긴 장문의 문장 채우기 엄청나게 긴 장문의 문장 채우기 엄청나게 긴 장문의 문장 채우기 엄청나게 긴 장문의 문장 채우기 엄청나게 긴 장문의 문장 채우기 엄청나게 긴 장문의 문장 채우기 엄청나게 긴 장문의 문장 채우기 엄청나게 긴 장문의 문장 채우기 엄청나게 긴 장문의 문장 채우기 </p>
                        </div>
                    </div>

                </div>
                <!-- 입력 -->
                <div id="chat_inputs">
                    <div>
                        <div id="add_file"> + </div>
                        <textarea id="text_input"></textarea>
                        <button id="summit_btn">전송</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
$(document).ready(function () {
    let isDown = false;
    let startX;
    let scrollLeft;

    $("#camera_under").on("mousedown", function (e) {
        e.preventDefault();
        isDown = true;
        $(this).addClass("active");
        startX = e.pageX;
        scrollLeft = $(this).scrollLeft();

        console.log("mousedown - startX:", startX);
        console.log("mousedown - scrollLeft:", scrollLeft);
        console.log("scrollWidth:", $(this)[0].scrollWidth);
        console.log("clientWidth:", $(this)[0].clientWidth);
    });

    $(window).on("mouseup", function () {
        isDown = false;
        $("#camera_under").removeClass("active");
    });

    $(window).on("mousemove", function (e) {
        if (!isDown) return;
        e.preventDefault();
        let x = e.pageX;
        let walk = (x - startX) * 2; // ✅ 이동 배율을 3배로 조정
        $("#camera_under").scrollLeft(scrollLeft - walk);

        console.log("mousemove - scrollLeft:", $("#camera_under").scrollLeft());
    });
});

</script>
</html>